[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "python starter"

[packages]
nitric = "==0.8.2"

[scripts]
dev = "watchmedo auto-restart -p '*.py' -R python index.py --"

[dev-packages]
watchdog = "*"
